h1 {
    color:Escolha uma cor;
    margin-top: Defina o tamanho da fonte; /* Espaço superior */
}

/* Estilo para o subtítulo h2 */
h2 {
    color:Escolha uma cor;
    margin-top: Defina um tamnho; /* Espaço superior */
}}